<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/index.js"></script>
    <title>Sign-Up</title>
    <style>
        @media screen and (min-width:600px) {
            .container {
                width: 70%;
            }
        }
    </style>
</head>

<body>
    <div class="container" style="border: solid black;">
        <div class="container-fliud d-flex justify-content-center">
            <h1><strong>Sign Up Page</strong></h1>
        </div>
        <hr>
        <% include ./partials/messages %>
        <form action="/app/register" method="POST" class="was-validated">
            <div class="form-group">
                <label for=""><strong>First Name</strong></label>
                <input type="text" class="form-control form-control-sm" id="fname" name="firstname" placeholder="enter your first name" required>
            </div>
            <div class="form-group">
                <label for=""><strong>Last Name</strong></label>
                <input type="text" class="form-control form-control-sm" id="lname" name="lastname" placeholder="enter your last name" required>
            </div>
            <div class="form-group">
                <label><strong>Email</strong></label>
                <input type="email" class="form-control form-control-sm" id="fname" name="email" placeholder="enter your email name" required>
                <small id="emailhelp" class="form-text text-muted alert alert-info">THIS EMAIL WILL BE YOUR USERNAME</small>
            </div>
            <div class="form-group">
                <label><strong>Gender</strong></label>
                <br>
                <div>
                    <div class="form-check form-check-inline" style="padding: 2px">
                        <input type="radio" class="form-check-input" id="radiomale" name="gender" value="male" required>
                        <label class="form-check-lable" for="radiomale">Male</label>
                    </div>
                    <div class="form-check form-check-inline" style="padding: 2px">
                        <input type="radio" class="form-check-input" id="radiofemale" name="gender" value="female" required>
                        <label class="form-check-lable" for="radiofemale">Female</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd"><strong>New Password</strong></label>
                <input type="password" id="npwd" class="form-control form-control-sm" name="password" placeholder="enter your new password" required>
            </div>
            <div class="form-group">
                <label for="cpwd"><strong>Confirm Password</strong></label>
                <input type="password" id="cpwd" class="form-control form-control-sm" name="password2" placeholder="enter your current password" required>
            </div>
            <div class="form-group">
                <button type="submit" id="signup" class="btn btn-primary" style="width: 100%">Sign Up</button>
            </div>
            <div class="form-group">
                <h5>Already have account ? <a href="/app/login">Log In</a></h5>
            </div>

        </form>
    </div>
</body>
</html>